.join {
  border: 1px solid orangered;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px auto;
  align-items: center;
  padding-top: 30px;
}
.joinform {
  display: flex;
  flex-direction: column;
  width: 50vh;
}
.joinform input,
textarea {
  margin: 10px 0;
  font-size: 16px;
  padding: 12px 15px;
  border-radius: 5px;
  border: none;
}
em {
  font-weight: 300;
  font-size: 13px;
}
.joinform button {
  width: fit-content;
  margin: auto;
  padding: 8px 16px;
  font-size: 16px;
  margin: 30px auto 40px;
  border: 1px solid orangered;
  border-radius: 10px;
}
.joinform button:hover {
  cursor: pointer;
  background-color: black;
  transition: 500ms;
}
a {
  text-decoration: none;
}
#instructions {
  color: orangered;
}